body{
background: #DCDCDC;
}

.container{
margin-left: 10%;
margin-right: 130px;
margin-top: 150px;
overflow: hidden;
width: auto;
}

.right{
background-color: white;
width: 30%;
float: right;
overflow: hidden;
margin-right: 2%;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
border-radius: 4px;
}

.left{
background-color: white;
width: 60%;
overflow: hidden;
margin: 30px;
margin-top:0px;
overflow: hidden;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
border-radius: 4px;
}

.row{  
height: auto;
padding: 4px;
border: 1px solid #E8E8E8;
border-radius: 1px;
}

.row_up_right{  
height: 30px;
padding: 4px;
border: 1px solid #E8E8E8;
border-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

.row_up_left{  
height: 45px;
padding: 4px;
border: 1px solid #E8E8E8;
border-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

.row_down{  
height: 30px;
padding: 4px;
border: 1px solid #E8E8E8;
border-radius: 4px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

.big_text{
margin: 5px;
margin-top: 4px;
font-size: 130%;  
font-weight: bold;
}

.remained{
display: inline-block;
width: auto;
margin-left: 7px;
padding: 3px;
padding-left:7px;
border-radius: 3px;
background-color: #E8E8E8;
font-size: 75%;
}

.circular{
background-color:#FFA500;
display: inline-block;
width: 15px;
height: 15px;
margin-left: 3px;   
border: 0px;
border-radius: 12px;
color: white;
text-align: center;
}

.search{
width: 80%;
height: 30px;
display: inline;
margin-top:6px;
padding-left:10px;
border: 1px solid #DADADA;
border-radius: 4px;
border-top-right-radius: 0px;
border-bottom-right-radius:0px; 
}

.add_button{
width: 15%;
height: 34px;
display: inline;
border: 1px solid #2185D0;
border-radius: 4px;
border-top-left-radius: 0px;
border-bottom-left-radius:0px;
background: #2185D0;
margin-left: -5px;
margin-top: 6px;
color:white;
font-size: 85%;
font-weight: bold;
}

.text{
display: inline-block;
margin: 0px;
margin-left: -10%;
margin-top: 6px;
}

.button_box{
display: inline-block;
float: left;
position: relative;
left: 40%;
margin: 0px;
margin-top: 5px;
}

.box{
float: right;
margin: auto;
margin: 5px;
margin-top: 0px;
}

.minus_button{
background-color:#FF0000;
width: 22px;
height: 22px;
border: 0px;
border-radius: 20px;
color: white;
font-weight: bold;
}

.plus_button{
background-color:#008000;
width: 22px;
height: 22px;
border: 0px;
border-radius: 20px;
color: white;
font-weight: bold;
}

.number{
margin-left: 3px;
margin-right: 6px;
padding: 4px;
padding-left: 7px;
border: 0px solid #E8E8E8;
border-radius: 3px;
background-color:#E8E8E8;
width: 30px;
height: 30px;
}

.buy{
background-color: #F2F2F2;
border: 1px solid #DADADA;
border-radius: 4px;
box-shadow: 0px 2px #DADADA;
color:#626262;
font-size: 75%;
width: 100px;
height: 30px;
}

.not_buy{
background-color: #F2F2F2;
border: 1px solid #DADADA;
border-radius: 4px;
box-shadow: 0px 2px #DADADA;
color:#626262;
font-size: 75%;
width: 125px;
height: 30px;
}

.delete{
width: 30px;
height: 30px;
background-color: #FF0000;
border: 2px solid #FF0000;
border-radius: 4px;
box-shadow: 0px 2px #BF2728;
color: white;
font-size: 75%;
font-weight: bold;
}

.banner{
position: fixed;
width: 180px;
height: 180px;
bottom: -115px;
left: 50px;
background-color: #9400D3;
text-align: center;
color: white;
border-radius: 7px;
transition: all 700ms linear;
}

.banner:hover{
transform: translateY(-80px);
background-color: #0000FF;
}

.banner_text{
margin: 10px;
font-size: 250%;
font-weight: bold;
}

.second_banner_text{
font-size: 150%;
font-weight: bold;
}

@media(max-width:	800px){    
.container{
display: block;
margin: auto;
min-width: 500px;
max-width: auto;
}
.left {
width:80%;
float: none;
overflow: hidden;
margin: 30px;
}
.right{
width: 80%;
float: none;
margin: 30px;
}
}


 @media	print	{
.baner{
border: 2px solid #9400D3;
background-color: white;
height: 80px;
bottom: 0px;
left: 50px;
}
.banner_text{
display: none;
}
.second_banner_text{
color: black;
}
}

.not_buy_press .not_buy{
    display: none;
}

.buy_press .minus_button, .buy_press .number, .buy_press .plus_button, .buy_press .buy, .buy_press .delete{
    display: none;
}

.buy_press .text{
    text-decoration: line-through;
    margin-left: 2%;
}
